body {
    margin: 0%;
    display: grid;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    grid-gap: 0.5rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: 8rem 100vh 3rem;
}

#botao{
    background-color: #48BAC6;
    padding: 10px 25px;
    border-radius: 12px;
}

#botao:hover{
    background-color: #ffffff;
}
   
#logo{
    height: 75px;
    width: 125px;

}
header {
    grid-area: header;
    background-color: #1C6C74;
}


main {
    grid-area: main;
    background-color: #ffffff;
}

footer {
    grid-area: footer;
    background-color: #383939;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    margin-left: 400px;;
    
}

nav ul li {
    display: inline-block;
    margin-right: 100px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #48BAC6;
}
